<link href="~/StyleSheetHome.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}


<body onload="Greeting()" >
    <div class="myDiv" id="greet">
        <div class="bg"></div>
        <h1>Welcome to Ben's Wardrobe</h1>
        <p class="lead" id="leadText" onmouseover="TextHighlight(this)" onmouseout="TextUnHighlight(this)">Are you challenging me to a walk-off... Boo-Lander? If there is anything that this horrible tragedy can teach us, it's that a male model's life is a precious, precious commodity. Just because we have chiseled abs and stunning features, it doesn't mean that we too can't not die in a freak gasoline fight accident.</p>
        <p><a href="~/Outfits/Index" class="btn btn-primary btn-lg">View Outfits &raquo;</a></p>
        <button id="styleAdviceBtn" onclick="Redirect(this)";>Style Advice &raquo;</button>
        <button id="pollBtn" onclick="Max(this)";> Style Poll &raquo;</button>
    </div>




    <div class="row homeRow" id="betterOne" onclick="HideWithClick('betterOne')">
        <div class="bg"></div>
        <div class="col-md-3">
            <h2>Over the Top!</h2>
            <p>View all of your shirts, sweaters, and sport coats.</p>
            <p><a class="btn btn-default" href="~/Tops/Index">Tops &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Bottoms Up!</h2>
            <p>View all of your slacks, pantaloons, and dungarees.</p>
            <p><a class="btn btn-default" href="~/Bottoms/Index">Bottoms &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Sole Mates!</h2>
            <p>View all of your oxfords, brogues, and boots.</p>
            <p><a class="btn btn-default" href="~/Shoes/Index">Shoes &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Accessorize!</h2>
            <p>View all of your accoutrement and trappings.</p>
            <p><a class="btn btn-default" href="~/Accessories/Index">Accessories &raquo;</a></p>
        </div>
    </div>

</body>